<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.voltmobi.testapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppTest"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeAppCompatLightNoActionBarFullScreen"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>